{
  "env": {
    "node": true
  },
  "rules": {
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ]
  },
  "root": true,
  "extends": ["plugin:vue/essential"],
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
